# {{ ansible_managed }}
{{ apache_global_vhost_settings }}

<IfModule mod_headers.c>
    RequestHeader unset Proxy early
</IfModule>

{% if 'ssl.load' in apache_mods_enabled %}
Listen {{ apache_listen_port_ssl }}
{% if apache_vhosts_version == "2.2" %}
NameVirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}
{% endif %}

{% if apache_vhosts_version == "2.4" and 'socache_shmcb.load' in apache_mods_enabled %}
SSLStaplingCache "shmcb:logs/stapling-cache(150000)"
{% endif %}
{% endif %}

{% if ansible_os_family in [ 'RedHat', 'Solaris', 'Suse' ] %}
Include sites-enabled/
{% endif %}
