# {{ ansible_managed }}
{{ apache_global_vhost_settings }}

{% if 'ssl.load' in apache_mods_enabled %}
Listen {{ apache_listen_port_ssl }}
{% if apache_vhosts_version == "2.2" %}
NameVirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}
{% endif %}

SSLStaplingCache "shmcb:logs/stapling-cache(150000)"
{% endif %}

{% if ansible_os_family in [ 'RedHat', 'Solaris', 'Suse' ] %}
Include sites-enabled/
{% endif %}
